NodeRED/flows.json
[{"id":"e3322e49.7b59f","type":"tab","label":"LoraWAN Decrypt","disabled":false,"info":""},{"id":"9423ed12769ee31d","type":"influxdb in","z":"e3322e49.7b59f","influxdb":"5207d44fbb353d75","name":"Loraserver","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":490,"y":40,"wires":[["365abcadbe064aac"]]},{"id":"2b76bfbb11fec51f","type":"inject","z":"e3322e49.7b59f","name":"Fetch","props":[{"p":"payload"}],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":140,"y":60,"wires":[["6b9a0a6ea94b2e18","3cd701c472db90ba"]]},{"id":"6b9a0a6ea94b2e18","type":"function","z":"e3322e49.7b59f","name":"Temperature Query","func":"msg.query='select * from device_frmpayload_data_Temperature';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":40,"wires":[["9423ed12769ee31d"]]},{"id":"538cf432ea6781ae","type":"influxdb in","z":"e3322e49.7b59f","influxdb":"5207d44fbb353d75","name":"Loraserver","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":490,"y":80,"wires":[["3a87d5764a112264"]]},{"id":"3cd701c472db90ba","type":"function","z":"e3322e49.7b59f","name":"Battery Query ","func":"msg.query='select * from device_frmpayload_data_Battery';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":80,"wires":[["538cf432ea6781ae"]]},{"id":"365abcadbe064aac","type":"function","z":"e3322e49.7b59f","name":"Filter data","func":"// Initialize an object to store the values\nvar valuesByDeviceName = {};\n\n// Iterate through the array of objects and group values by dev_eui\nmsg.payload.forEach(function (obj) {\n    var devicename = obj.device_name;\n    var value = obj.value;\n    var time = obj.time;\n    if (!valuesByDeviceName[devicename]) {\n        valuesByDeviceName[devicename] = [];\n    }\n    valuesByDeviceName[devicename].push({ value: value, time: time });\n});\n\n// Create an array of objects containing dev_eui, time, and corresponding values\nvar result = [];\nfor (var devicename in valuesByDeviceName) {\n    if (valuesByDeviceName.hasOwnProperty(devicename)) {\n        result.push({\n            dev_name: devicename,\n            data: valuesByDeviceName[devicename]\n        });\n    }\n}\n\n// Set the result as the output message\nmsg.payload = result;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":40,"wires":[["13931a004997116c","29f69aab6a5174e3"]]},{"id":"06df86dcf801812c","type":"ui_chart","z":"e3322e49.7b59f","name":"","group":"2ac8e3fa.8b8584","order":3,"width":"0","height":"0","label":"Temperature [°C]","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"35","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1130,"y":40,"wires":[[]]},{"id":"13931a004997116c","type":"function","z":"e3322e49.7b59f","name":"DISCOVERY-Node1","func":"// Initialize output array\nconst outputArray = [];\n\n// Loop over input array\nfor (let i = 0; i < msg.payload.length; i++) {\n    // Extract dev_name and data array from input\n    const devName = msg.payload[i].dev_name;\n    const data = msg.payload[i].data;\n\n    // Create series and data arrays for chart\n    const series = [devName];\n    const chartData = [];\n\n    // Iterate over data array and transform each object into {x, y} object\n    for (let j = 0; j < data.length; j++) {\n        const x = new Date(data[j].time).getTime();\n        const y = data[j].value;\n        chartData.push({ x, y });\n    }\n\n    // Create output object and add to output array if dev_name is \"DISCOVERY-Node1\"\n    if (devName === \"DISCOVERY-Node1\") {\n        const outputObject = {\n            series,\n            data: [chartData],\n            labels: ['room1']\n        };\n        outputArray.push(outputObject);\n    }\n}\n\n// Set the output message with the final output array\nmsg.payload = outputArray;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":40,"wires":[["06df86dcf801812c","7416002bf9fef1e7"]]},{"id":"3a87d5764a112264","type":"function","z":"e3322e49.7b59f","name":"Filter data","func":"// Initialize an object to store the values\nvar valuesByDeviceName = {};\n\n// Iterate through the array of objects and group values by dev_eui\nmsg.payload.forEach(function (obj) {\n    var devicename = obj.device_name;\n    var value = obj.value;\n    var time = obj.time;\n    if (!valuesByDeviceName[devicename]) {\n        valuesByDeviceName[devicename] = [];\n    }\n    valuesByDeviceName[devicename].push({ value: value, time: time });\n});\n\n// Create an array of objects containing dev_eui, time, and corresponding values\nvar result = [];\nfor (var devicename in valuesByDeviceName) {\n    if (valuesByDeviceName.hasOwnProperty(devicename)) {\n        result.push({\n            dev_name: devicename,\n            data: valuesByDeviceName[devicename]\n        });\n    }\n}\n\n// Set the result as the output message\nmsg.payload = result;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":80,"wires":[["8be9e112a7f07114","8711bc9901393a3b"]]},{"id":"6dcd68d44832fdbc","type":"ui_chart","z":"e3322e49.7b59f","name":"","group":"2ac8e3fa.8b8584","order":4,"width":"0","height":"0","label":"Battery [%]","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1110,"y":80,"wires":[[]]},{"id":"8be9e112a7f07114","type":"function","z":"e3322e49.7b59f","name":"DISCOVERY-Node1","func":"// Initialize output array\nconst outputArray = [];\n\n// Loop over input array\nfor (let i = 0; i < msg.payload.length; i++) {\n    // Extract dev_name and data array from input\n    const devName = msg.payload[i].dev_name;\n    const data = msg.payload[i].data;\n\n    // Create series and data arrays for chart\n    const series = [devName];\n    const chartData = [];\n\n    //maxValue variable\n    let maxValue = 254;\n\n    // Iterate over data array and transform each object into {x, y} object\n    for (let j = 0; j < data.length; j++) {\n        const x = new Date(data[j].time).getTime();\n        const y = (data[j].value / maxValue) * 100;\n        chartData.push({ x, y });\n    }\n    // Create output object and add to output array if dev_name is \"DISCOVERY-Node1\"\n    if (devName === \"DISCOVERY-Node1\") {\n        const outputObject = {\n            series,\n            data: [chartData],\n            labels: ['room1']\n        };\n        outputArray.push(outputObject);\n    }\n}\n\n// Set the output message with the final output array\nmsg.payload = outputArray;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":120,"wires":[["6dcd68d44832fdbc","ca985c0101e891aa"]]},{"id":"d30123838ee06d73","type":"ui_chart","z":"e3322e49.7b59f","name":"","group":"2dabdd827ee739b8","order":2,"width":"0","height":"0","label":"Temperature [°C]","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"35","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1130,"y":200,"wires":[[]]},{"id":"29f69aab6a5174e3","type":"function","z":"e3322e49.7b59f","name":"DISCOVERY-Node2","func":"// Initialize output array\nconst outputArray = [];\n\n// Loop over input array\nfor (let i = 0; i < msg.payload.length; i++) {\n    // Extract dev_name and data array from input\n    const devName = msg.payload[i].dev_name;\n    const data = msg.payload[i].data;\n\n    // Create series and data arrays for chart\n    const series = [devName];\n    const chartData = [];\n\n    // Iterate over data array and transform each object into {x, y} object\n    for (let j = 0; j < data.length; j++) {\n        const x = new Date(data[j].time).getTime();\n        const y = data[j].value;\n        chartData.push({ x, y });\n    }\n\n    // Create output object and add to output array if dev_name is \"DISCOVERY-Node1\"\n    if (devName === \"DISCOVERY-Node2\") {\n        const outputObject = {\n            series,\n            data: [chartData],\n            labels: ['room2']\n        };\n        outputArray.push(outputObject);\n    }\n}\n\n// Set the output message with the final output array\nmsg.payload = outputArray;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":200,"wires":[["d30123838ee06d73","86549edb59fcd547"]]},{"id":"6a28644107e45d55","type":"ui_chart","z":"e3322e49.7b59f","name":"","group":"2dabdd827ee739b8","order":3,"width":"0","height":"0","label":"Battery [%]","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1110,"y":240,"wires":[[]]},{"id":"8711bc9901393a3b","type":"function","z":"e3322e49.7b59f","name":"DISCOVERY-Node2","func":"// Initialize output array\nconst outputArray = [];\n\n// Loop over input array\nfor (let i = 0; i < msg.payload.length; i++) {\n    // Extract dev_name and data array from input\n    const devName = msg.payload[i].dev_name;\n    const data = msg.payload[i].data;\n\n    // Create series and data arrays for chart\n    const series = [devName];\n    const chartData = [];\n\n    //maxValue variable\n    let maxValue = 254;\n\n    // Iterate over data array and transform each object into {x, y} object\n    for (let j = 0; j < data.length; j++) {\n        const x = new Date(data[j].time).getTime();\n        const y = (data[j].value / maxValue) * 100;\n        chartData.push({ x, y });\n    }\n    // Create output object and add to output array if dev_name is \"DISCOVERY-Node1\"\n    if (devName === \"DISCOVERY-Node2\") {\n        const outputObject = {\n            series,\n            data: [chartData],\n            labels: ['room2']\n        };\n        outputArray.push(outputObject);\n    }\n}\n\n// Set the output message with the final output array\nmsg.payload = outputArray;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":280,"wires":[["6a28644107e45d55","bab7a38dbf68715c"]]},{"id":"f0edca2275fd8e28","type":"ui_date_picker","z":"e3322e49.7b59f","name":"","label":"Date picker","group":"2ac8e3fa.8b8584","order":2,"width":"0","height":"0","passthru":true,"topic":"date","topicType":"msg","className":"","x":910,"y":80,"wires":[["06df86dcf801812c","6dcd68d44832fdbc"]]},{"id":"30dd21ddeccd4ca4","type":"ui_date_picker","z":"e3322e49.7b59f","name":"","label":"Date picker","group":"2dabdd827ee739b8","order":1,"width":"12","height":"1","passthru":true,"topic":"date","topicType":"msg","className":"","x":910,"y":240,"wires":[["d30123838ee06d73","6a28644107e45d55"]]},{"id":"713ce907885d1327","type":"ui_numeric","z":"e3322e49.7b59f","name":"","label":"Max °C","tooltip":"","group":"d2ebaf0362b4bf8a","order":3,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":"10","max":"35","step":1,"className":"","x":240,"y":340,"wires":[["bb4d9f1d7677e6d7"]]},{"id":"1e71a7941d053e1f","type":"ui_numeric","z":"e3322e49.7b59f","name":"","label":"Min °C","tooltip":"","group":"d2ebaf0362b4bf8a","order":3,"width":"0","height":"0","wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":"10","max":"35","step":1,"className":"","x":230,"y":380,"wires":[["4b07058ffe268c45"]]},{"id":"1d365ce4c784789b","type":"ui_toast","z":"e3322e49.7b59f","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"Temperature Warning","x":640,"y":300,"wires":[],"icon":"font-awesome/fa-warning"},{"id":"1fe2e30481f3e4a0","type":"ui_gauge","z":"e3322e49.7b59f","name":"","group":"68f0df42e0531a98","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature [°C]","label":"°C","format":"{{value}}","min":"10","max":"35","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":410,"y":260,"wires":[]},{"id":"7416002bf9fef1e7","type":"function","z":"e3322e49.7b59f","name":"Filter Latest","func":"// Access the data array\nconst data = msg.payload[0].data[0];\n\n// Get the latest object in the data array\nconst latestObject = data[data.length - 1];\n\n// Extract the latest value from the object\nconst latestValue = latestObject.y;\n\n// Set the latest value as the new payload\nmsg.payload = latestValue;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":120,"wires":[["ee41bc53d460b67b"]]},{"id":"ca985c0101e891aa","type":"function","z":"e3322e49.7b59f","name":"Filter Latest","func":"// Access the data array\nconst data = msg.payload[0].data[0];\n\n// Get the latest object in the data array\nconst latestObject = data[data.length - 1];\n\n// Extract the latest value from the object\nconst latestValue = latestObject.y;\n\n// Set the latest value as the new payload\nmsg.payload = latestValue;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":160,"wires":[["4b756da06c39a040"]]},{"id":"bbde126f5002e574","type":"ui_gauge","z":"e3322e49.7b59f","name":"","group":"68f0df42e0531a98","order":2,"width":0,"height":0,"gtype":"gage","title":"Battery [%]","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#ca3838","#e6e600","#2ca02c"],"seg1":"","seg2":"","diff":false,"className":"","x":390,"y":420,"wires":[]},{"id":"d8728bcc58813f17","type":"ui_numeric","z":"e3322e49.7b59f","name":"","label":"Min %","tooltip":"","group":"d98ffa0478c58e13","order":3,"width":"0","height":"0","wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":"0","max":"105","step":1,"className":"","x":230,"y":500,"wires":[["aa7e8df97cdb63aa"]]},{"id":"a4a4ac075ebc9112","type":"function","z":"e3322e49.7b59f","name":"Degree check","func":"// Set default min and max degrees values\nconst DEFAULT_MIN_DEGREES = 10; // Set your default min degrees value\nconst DEFAULT_MAX_DEGREES = 35; // Set your default max degrees value\n\n// Initialize context variables if not set\nif (context.get('minDegrees') === undefined) {\n    context.set('minDegrees', DEFAULT_MIN_DEGREES);\n}\n\nif (context.get('maxDegrees') === undefined) {\n    context.set('maxDegrees', DEFAULT_MAX_DEGREES);\n}\n\n\n// Store the min and max degrees when received\nif (msg.topic === \"minDegrees\") {\n    context.set('minDegrees', msg.payload);\n} else if (msg.topic === \"maxDegrees\") {\n    context.set('maxDegrees', msg.payload);\n}\n\n// Process the latest temperature value\nif (msg.topic === \"latestTemperature\") {\n    const latestTemperature = msg.payload;\n    const minDegrees = context.get('minDegrees');\n    const maxDegrees = context.get('maxDegrees');\n\n    let alertMessage = \"\";\n\n    if (latestTemperature < minDegrees) {\n        alertMessage = `Node 1: Temperature below minimum: ${latestTemperature}°C`;\n    } else if (latestTemperature > maxDegrees) {\n        alertMessage\n        alertMessage = `Node 1: Temperature above maximum: ${latestTemperature}°C`;\n    }\n\n    if (alertMessage) {\n        msg.payload = alertMessage;\n        return msg;\n    }\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":340,"wires":[["a8cc5210181496aa"]]},{"id":"bb4d9f1d7677e6d7","type":"change","z":"e3322e49.7b59f","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"maxDegrees","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":340,"wires":[["a4a4ac075ebc9112"]]},{"id":"4b07058ffe268c45","type":"change","z":"e3322e49.7b59f","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"minDegrees","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":380,"wires":[["a4a4ac075ebc9112"]]},{"id":"6b08a122bd74029d","type":"change","z":"e3322e49.7b59f","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"latestTemperature","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":300,"wires":[["a4a4ac075ebc9112"]]},{"id":"a8cc5210181496aa","type":"change","z":"e3322e49.7b59f","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Warning!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":340,"wires":[["1d365ce4c784789b"]]},{"id":"ee41bc53d460b67b","type":"link out","z":"e3322e49.7b59f","name":"[1] Node1 out","mode":"link","links":["c37f42c07006b2c2"],"x":1280,"y":120,"wires":[],"l":true},{"id":"c37f42c07006b2c2","type":"link in","z":"e3322e49.7b59f","name":"[1] Node1 in ","links":["ee41bc53d460b67b"],"x":230,"y":280,"wires":[["1fe2e30481f3e4a0","6b08a122bd74029d"]],"l":true},{"id":"4b756da06c39a040","type":"link out","z":"e3322e49.7b59f","name":"[2] Node1 out","mode":"link","links":["5ef234457b54f7d2"],"x":1280,"y":160,"wires":[],"l":true},{"id":"5ef234457b54f7d2","type":"link in","z":"e3322e49.7b59f","name":"[2] Node1 in","links":["4b756da06c39a040"],"x":230,"y":440,"wires":[["bbde126f5002e574","7f6ea0385c412419"]],"l":true},{"id":"7f6ea0385c412419","type":"change","z":"e3322e49.7b59f","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"latestBattery","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":460,"wires":[["166b9f0161b42ed8"]]},{"id":"166b9f0161b42ed8","type":"function","z":"e3322e49.7b59f","name":"Batttery check","func":"// Set default min\nconst DEFAULT_MIN_PERCENTAGE = 1; // Set your default min percentage value\n\n// Initialize context variables if not set\nif (context.get('minPercentage') === undefined) {\n    context.set('minPercentage', DEFAULT_MIN_PERCENTAGE);\n}\n\n// Store the min Percentage when received\nif (msg.topic === \"minPercentage\") {\n    context.set('minPercentage', msg.payload);\n}\n\n// Process the latest battery value\nif (msg.topic === \"latestBattery\") {\n    const latestBattery = msg.payload;\n    const minPercentage = context.get('minPercentage');\n\n    let alertMessage = \"\";\n\n    if (latestBattery < minPercentage) {\n        alertMessage = `Node 1: Battery below minimum: ${latestBattery}%`;\n    }\n\n    if (alertMessage) {\n        msg.payload = alertMessage;\n        return msg;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":480,"wires":[["f8652899d76709dd"]]},{"id":"aa7e8df97cdb63aa","type":"change","z":"e3322e49.7b59f","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"minPercentage","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":500,"wires":[["166b9f0161b42ed8"]]},{"id":"f8652899d76709dd","type":"change","z":"e3322e49.7b59f","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Warning!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":480,"wires":[["8498bdd3583e6f74"]]},{"id":"8498bdd3583e6f74","type":"ui_toast","z":"e3322e49.7b59f","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"Battery Warning","x":660,"y":440,"wires":[],"icon":"font-awesome/fa-warning"},{"id":"86549edb59fcd547","type":"function","z":"e3322e49.7b59f","name":"Filter Latest","func":"// Access the data array\nconst data = msg.payload[0].data[0];\n\n// Get the latest object in the data array\nconst latestObject = data[data.length - 1];\n\n// Extract the latest value from the object\nconst latestValue = latestObject.y;\n\n// Set the latest value as the new payload\nmsg.payload = latestValue;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":280,"wires":[["97a34462a9b08d53"]]},{"id":"bab7a38dbf68715c","type":"function","z":"e3322e49.7b59f","name":"Filter Latest","func":"// Access the data array\nconst data = msg.payload[0].data[0];\n\n// Get the latest object in the data array\nconst latestObject = data[data.length - 1];\n\n// Extract the latest value from the object\nconst latestValue = latestObject.y;\n\n// Set the latest value as the new payload\nmsg.payload = latestValue;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":320,"wires":[["0f595dbe5f5faf76"]]},{"id":"f9cf0d54a54faa5a","type":"ui_numeric","z":"e3322e49.7b59f","name":"","label":"Max °C","tooltip":"","group":"22cf1ec069d868ef","order":3,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":"10","max":"35","step":1,"className":"","x":240,"y":660,"wires":[["67e3fe9558b55fa5"]]},{"id":"0cb49af569e7f3b7","type":"ui_numeric","z":"e3322e49.7b59f","name":"","label":"Min °C","tooltip":"","group":"22cf1ec069d868ef","order":3,"width":"0","height":"0","wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":"10","max":"35","step":1,"className":"","x":230,"y":700,"wires":[["b6df035359bdd164"]]},{"id":"6941a6769d50711b","type":"ui_toast","z":"e3322e49.7b59f","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"Temperature Warning","x":640,"y":620,"wires":[],"icon":"font-awesome/fa-warning"},{"id":"38673033983771d4","type":"ui_gauge","z":"e3322e49.7b59f","name":"","group":"c20e4178aad3c289","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature [°C]","label":"°C","format":"{{value}}","min":"10","max":"35","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":410,"y":580,"wires":[]},{"id":"242c829ba5b6978a","type":"ui_gauge","z":"e3322e49.7b59f","name":"","group":"c20e4178aad3c289","order":2,"width":0,"height":0,"gtype":"gage","title":"Battery [%]","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#ca3838","#e6e600","#2ca02c"],"seg1":"","seg2":"","diff":false,"className":"","x":390,"y":740,"wires":[]},{"id":"f644e3193bc644f4","type":"ui_numeric","z":"e3322e49.7b59f","name":"","label":"Min %","tooltip":"","group":"cdc7c382497fa09d","order":3,"width":"0","height":"0","wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":"0","max":"105","step":1,"className":"","x":230,"y":820,"wires":[["06bb434edbe89976"]]},{"id":"24eb33b3ed53d893","type":"function","z":"e3322e49.7b59f","name":"Degree check","func":"// Set default min and max degrees values\nconst DEFAULT_MIN_DEGREES = 10; // Set your default min degrees value\nconst DEFAULT_MAX_DEGREES = 35; // Set your default max degrees value\n\n// Initialize context variables if not set\nif (context.get('minDegrees') === undefined) {\n    context.set('minDegrees', DEFAULT_MIN_DEGREES);\n}\n\nif (context.get('maxDegrees') === undefined) {\n    context.set('maxDegrees', DEFAULT_MAX_DEGREES);\n}\n\n\n// Store the min and max degrees when received\nif (msg.topic === \"minDegrees\") {\n    context.set('minDegrees', msg.payload);\n} else if (msg.topic === \"maxDegrees\") {\n    context.set('maxDegrees', msg.payload);\n}\n\n// Process the latest temperature value\nif (msg.topic === \"latestTemperature\") {\n    const latestTemperature = msg.payload;\n    const minDegrees = context.get('minDegrees');\n    const maxDegrees = context.get('maxDegrees');\n\n    let alertMessage = \"\";\n\n    if (latestTemperature < minDegrees) {\n        alertMessage = `Node 2: Temperature below minimum: ${latestTemperature}°C`;\n    } else if (latestTemperature > maxDegrees) {\n        alertMessage\n        alertMessage = `Node 2: Temperature above maximum: ${latestTemperature}°C`;\n    }\n\n    if (alertMessage) {\n        msg.payload = alertMessage;\n        return msg;\n    }\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":660,"wires":[["6b2a4939c588558e"]]},{"id":"67e3fe9558b55fa5","type":"change","z":"e3322e49.7b59f","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"maxDegrees","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":660,"wires":[["24eb33b3ed53d893"]]},{"id":"b6df035359bdd164","type":"change","z":"e3322e49.7b59f","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"minDegrees","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":700,"wires":[["24eb33b3ed53d893"]]},{"id":"47bc59b37a4dc851","type":"change","z":"e3322e49.7b59f","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"latestTemperature","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":620,"wires":[["24eb33b3ed53d893"]]},{"id":"6b2a4939c588558e","type":"change","z":"e3322e49.7b59f","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Warning!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":660,"wires":[["6941a6769d50711b"]]},{"id":"851eb72b94450e39","type":"link in","z":"e3322e49.7b59f","name":"[3] Node2 in","links":["97a34462a9b08d53"],"x":230,"y":600,"wires":[["38673033983771d4","47bc59b37a4dc851"]],"l":true},{"id":"7ab8471a069eae77","type":"link in","z":"e3322e49.7b59f","name":"[4] Node2 in","links":["0f595dbe5f5faf76"],"x":230,"y":760,"wires":[["242c829ba5b6978a","172fe5727786634c"]],"l":true},{"id":"172fe5727786634c","type":"change","z":"e3322e49.7b59f","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"latestBattery","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":780,"wires":[["02eda04da2e4c574"]]},{"id":"02eda04da2e4c574","type":"function","z":"e3322e49.7b59f","name":"Batttery check","func":"// Set default min\nconst DEFAULT_MIN_PERCENTAGE = 1; // Set your default min percentage value\n\n// Initialize context variables if not set\nif (context.get('minPercentage') === undefined) {\n    context.set('minPercentage', DEFAULT_MIN_PERCENTAGE);\n}\n\n// Store the min Percentage when received\nif (msg.topic === \"minPercentage\") {\n    context.set('minPercentage', msg.payload);\n}\n\n// Process the latest battery value\nif (msg.topic === \"latestBattery\") {\n    const latestBattery = msg.payload;\n    const minPercentage = context.get('minPercentage');\n\n    let alertMessage = \"\";\n\n    if (latestBattery < minPercentage) {\n        alertMessage = `Node 2: Battery below minimum: ${latestBattery}%`;\n    }\n\n    if (alertMessage) {\n        msg.payload = alertMessage;\n        return msg;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":800,"wires":[["a8769def67b68455"]]},{"id":"06bb434edbe89976","type":"change","z":"e3322e49.7b59f","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"minPercentage","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":820,"wires":[["02eda04da2e4c574"]]},{"id":"a8769def67b68455","type":"change","z":"e3322e49.7b59f","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Warning!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":800,"wires":[["a250f89de4084e4d"]]},{"id":"a250f89de4084e4d","type":"ui_toast","z":"e3322e49.7b59f","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"Battery Warning","x":660,"y":760,"wires":[],"icon":"font-awesome/fa-warning"},{"id":"97a34462a9b08d53","type":"link out","z":"e3322e49.7b59f","name":"[3] Node2 out","mode":"link","links":["851eb72b94450e39"],"x":1280,"y":280,"wires":[],"l":true},{"id":"0f595dbe5f5faf76","type":"link out","z":"e3322e49.7b59f","name":"[4] Node2 out","mode":"link","links":["7ab8471a069eae77"],"x":1280,"y":320,"wires":[],"l":true},{"id":"e6a66dd1d744c912","type":"function","z":"e3322e49.7b59f","name":"35","func":"msg.payload = 35;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":70,"y":260,"wires":[["713ce907885d1327","d8728bcc58813f17","f9cf0d54a54faa5a","f644e3193bc644f4"]]},{"id":"e653b74067574abe","type":"inject","z":"e3322e49.7b59f","name":"Once","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":220,"wires":[["e6a66dd1d744c912"]]},{"id":"5207d44fbb353d75","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"loraserver","name":"loraserver","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"2ac8e3fa.8b8584","type":"ui_group","name":"B-L072Z-LRWAN1[181302225]","tab":"ebb1ed1c.5ebe2","order":2,"disp":true,"width":"12","collapse":false,"className":""},{"id":"2dabdd827ee739b8","type":"ui_group","name":"B-L072Z-LRWAN1 [181302214]","tab":"16f238518ed354f2","order":2,"disp":true,"width":"12","collapse":false,"className":""},{"id":"d2ebaf0362b4bf8a","type":"ui_group","name":"Temperature Alert","tab":"ebb1ed1c.5ebe2","order":3,"disp":true,"width":"2","collapse":false,"className":""},{"id":"68f0df42e0531a98","type":"ui_group","name":"Latest Values Gauges","tab":"ebb1ed1c.5ebe2","order":1,"disp":true,"width":"2","collapse":false,"className":""},{"id":"d98ffa0478c58e13","type":"ui_group","name":"Battery Alert","tab":"ebb1ed1c.5ebe2","order":4,"disp":true,"width":"2","collapse":false,"className":""},{"id":"22cf1ec069d868ef","type":"ui_group","name":"Temperature Alert","tab":"16f238518ed354f2","order":3,"disp":true,"width":"2","collapse":false,"className":""},{"id":"c20e4178aad3c289","type":"ui_group","name":"Latest Values Gauges","tab":"16f238518ed354f2","order":1,"disp":true,"width":"2","collapse":false,"className":""},{"id":"cdc7c382497fa09d","type":"ui_group","name":"Battery Alert","tab":"16f238518ed354f2","order":4,"disp":true,"width":"2","collapse":false,"className":""},{"id":"ebb1ed1c.5ebe2","type":"ui_tab","name":"Node1","icon":"dashboard","disabled":false,"hidden":false},{"id":"16f238518ed354f2","type":"ui_tab","name":"Node2","icon":"dashboard","disabled":false,"hidden":false}]